---js
{
  layout: 'base',
  permalink: function ({ tag }) {
    return `tags/${this.slugify(tag)}/`;
  },
  pagination: {
    data: 'collections.all',
    size: 1,
    alias: 'tag',
    before: function (paginationData, fullData) {
      return Array.from(
        new Set(
          paginationData.flatMap(item => item.data.tags).filter(item => item)
        )
      );
    }
  },
  getCollectionFromTag(tag, collection) {
    console.log('get collection', tag);
    return collection.filter(item => item.data.tags?.includes(tag));
  }
}
---

<p>Pages tagged with {{ tag }}</p>

{% set items = getCollectionFromTag(tag, collections.all) %}

<ol>
  {% for item in items | selectattr('url') | reverse %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ol>
