---
layout: base
title: Tag Index
eleventyNavigation:
  key: Tags
---

{% set tags = getTagsFromCollection(collections.all) %}

<ul>
  {% for tag in tags | sort %}
    <li>
      <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
