---
layout: base
---

<div class="stack" typeof="schema:MusicAlbum" data-pagefind-body>
  <h1 property="schema:name">{{ title or site.name }}</h1>

  <div class="cluster">
    {% if thumbnailUrl %}
      <div property="schema:image">
        {% image thumbnailUrl %}
      </div>
    {% endif %}

    <div class="meta">
      <dl>
        {% if byArtist | length %}
          <dt>Primary artist</dt>
          {% for role in byArtist %}
            <dd property="schema:byArtist" typeof="schema:Role">
              {% if role.url %}
              <a href="{{ role.url | inputPathToUrl }}">
              {% endif %}

              <span property="schema:name" data-pagefind-filter="artist">{{ role.name }}</span>

              {%- if role.url -%}
              </a>
              {% endif %}

              (<em property="schema:roleName">{{ role.roleName }}</em>)
            </dd>
          {% endfor %}
        {% endif %}

        {% if contributor | length %}
          <dt>Additional artists</dt>
          {% for role in contributor %}
            <dd property="schema:contributor" typeof="schema:Role">
              {% if role.url %}
              <a href="{{ role.url | inputPathToUrl }}">
              {% endif %}

              <span property="schema:name" data-pagefind-filter="artist">{{ role.name }}</span>

              {%- if role.url -%}
              </a>
              {% endif %}

              (<em property="schema:roleName">{{ role.roleName }}</em>)
            </dd>
          {% endfor %}
        {% endif %}

        {% if publisher %}
          <dt>Publisher</dt>
          <dd property="schema:publisher" data-pagefind-filter="publisher">{{ publisher }}</dd>
        {% endif %}

        {% if datePublished %}
          <dt>Release date</dt>
          <dd property="schema:datePublished" data-pagefind-filter="date">{{ datePublished }}</dd>
        {% endif %}
      </dl>
    </div>
  </div>

  <div property="schema:description">
    {{ content | safe }}
  </div>

  {% if tags | length %}
    <h2>Tags</h2>
    <ul>
      {% for tag in tags %}
        <li property="schema:keywords" data-pagefind-filter="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if audio | length %}
    <ul role="list">
      {% for audioUrl in audio %}
        <li property="schema:audio">
          {% embed audioUrl %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
