---
layout: base
---

<div class="stack" typeof="schema:WebPage">
  <h1 property="schema:name"{% if page.url === '/' %} hidden aria-hidden="false"{% endif %}>{{ title or site.name }}</h1>

  <div class="stack" property="schema:mainContentOfPage">
    {{ content | safe }}
  </div>
</div>
