/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

.frame {
  aspect-ratio: 1;
  overflow: hidden;
}

.frame > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  --grid-min: 12em;
}

/* ---------------------------------- *\
  #UTILITIES
\* ---------------------------------- */

.float-start {
  float: inline-start;
  margin-inline-end: var(--rhythm-01);
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

.card {
  cursor: pointer;
}

.card .frame {
  background-color: whitesmoke;
}
