/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

.grid {
  --grid-min: 12em;
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

.card {
  cursor: pointer;
}

.card .frame {
  aspect-ratio: 1 / 1;
}
