---
layout: page
title: Home
permalink: "{{ 'page/' + (pagination.pageNumber + 1) if pagination.pageNumber > 0 }}/"
pagination:
  data: collections.item
  size: 12
  alias: items
eleventyNavigation:
  key: Home
  order: -1
eleventyImport:
  collections:
    - item
---

<ol class="grid" role="list">
  {% for item in items %}
    <li class="card">
      <div class="frame">
        {% if item.data.thumbnailUrl %}
          {% image item.data.thumbnailUrl %}
        {% endif %}
      </div>
      <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    </li>
  {% endfor %}
</ol>

<ul class="cluster" role="list">
  {% if pagination.href.previous %}
    <li><a href="{{ pagination.href.first }}">First</a></li>
    <li><a href="{{ pagination.href.previous }}" rel="prev">Previous</a></li>
  {% endif %}

  {% if pagination.href.next %}
    <li><a href="{{ pagination.href.next }}" rel="next">Next</a></li>
    <li><a href="{{ pagination.href.last }}">Last</a></li>
  {% endif %}
</ul>
